.Register {
  background-image: url(../../../assets/images/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 3%;
}

.FormVerify {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.5);
  margin-top: 30px;
  width: 1000px;
  height: 700px;
}

.FormRegister {
  background-color: white;
  width: 500px;
  height: 900px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.5);
  border-radius: 10px;
  position: relative;
}

.Logo {
  display: flex;
  justify-content: center;
}

.ImageLogo {
  width: 150px;
  height: 150px;
}

.Field {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.InputField {
  width: 450px;
  font-size: 16px;
}

.Checbox {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 0 50px;
}

.ButtonGoogle {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.custombtn {
  height: 40px !important;
  background-color: #056176;
}

.custombtn:disabled {
  height: 40px !important;
  background-color: #056176;
}

.custombtn:hover {
  height: 40px !important;
  background-color: #11ceba;
}

.btncapcha {
  display: flex;
  justify-content: center;
}

.customtxt {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.txtalert {
  font-size: 13px;
  color: #737278;
}
