.HomeProject {
  display: flex;
  flex-direction: row;
}

.container-homeproject {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: safe;
}

.FooterHomeProject {
    margin-top: auto;
  }

.divider-custom {
  margin: 0 !important;
}
