.HomeAdmin {
  display: flex;
  flex-direction: row;
}

.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: safe;
}

.FooterAdmin {
  margin-top: auto;
}

.divider-custom {
  height: 2px;
  background-color: #e8e8e8;
  margin: 0 !important;
}
