.HomeUser {
  display: flex;
  flex-direction: row;
}

.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-project {
  width: 100%;
  background-color: #f6f7fb;
  padding: 20px;
}

.FooterUser {
  margin-top: auto;
}

.divider-custom {
  margin: 0 !important;
}
