.forgotpassword {
  background-image: url(../../../assets/images/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 10%;
}

.Form-forgotpassword {
  width: 500px;
  height: 480px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  margin-top: 150px;
  position: relative;
}

.Logo {
  display: flex;
  justify-content: center;
}

.ImageLogo {
  width: 150px;
  height: 150px;
}
