.sidebar-setting {
  /* position: sticky; */
  left: 0;
  /* Đặt vị trí bên trái */
  top: 0;
  /* Đặt vị trí ở đầu trang */
  min-height: 100vh;
  /* Đặt chiều cao cho sidebar */
  width: 200px;
  /* Đặt chiều rộng cho sidebar */
  background-color: rgb(255, 255, 255);
  /* Màu nền cho sidebar */
  color: black;
  /* Màu chữ trong sidebar */
}

.sidebar-user-home {
  background-color: #ffffff;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 200px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #def1f7;
}

.logout-button {
  width: 100%;
  /* Đảm bảo nút chiếm toàn bộ chiều rộng của sidebar */
  margin-top: 20px;
  /* Tạo khoảng cách giữa nút và phần trên */
}

.sidebar-footer {
  /* Kiểu hiển thị cho phần footer của sidebar */
  margin-top: auto;
  /* Đảm bảo rằng footer nằm ở phía dưới cùng */
  padding: 20px;
  /* Tạo khoảng cách giữa nút và phần dưới */
}